<aside class="author">
  <img class="profile-image" src="{{ .Site.Params.avatar | absURL }}" alt="{{ .Site.Params.site_author }}" />
  <p class="name">{{ .Site.Data.l10n.author.by }} 
  <strong>{{ .Site.Params.site_author }}</strong></p>
  <p class="address">{{ .Site.Params.location }}</p>
  <p class="link"></p>
  <ul class="social">
    {{ partial "social" . }}
  </ul>
  <p  class="address">
    <a href="http://mvp.microsoft.com/ja-jp/mvp/Akiko%20Kawai-4027291" target="_blank">
    <img src="{{ .Site.BaseURL }}pic/MVPLogo.png"  width="120" border="0" alt="mvp_logo" hspace="5" /></a><br>
	  Microsoft MVP for Developer Technologies [Jul,2018-Jun,2020]<br>
	  Microsoft MVP for Windows Development<br> [Jan,2016-Jun,2018]<br>
      Microsoft MVP for Windows Platform Development<br> [Jan,2015-Dec,2015]<br>
      Microsoft MVP for Client Development<br> [Jan,2014-Dec,2014]<br>
      Microsoft MVP for Client App Dev<br> [Jan,2010-Dec,2013]<br>
  </p>
  <br>
</aside>

