<aside class="posted-list">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Recent Posts</h2>
            </div>
            <div class="list-group">
                {{range first 10 .Site.Pages}}
                    {{ if ne ("About me") (.Title) }}
                        {{ if ne ("Reading list") (.Title) }}
                            <a href="{{.RelPermalink}}" class="list-group-item">{{ .Title }}</a><br>
                        {{ end }}
                    {{ end }}
                {{ end }}
            </div>

            <div class="panel-heading">
                <h2 class="panel-title">Tags</h2>
            </div>
            <div class="list-group">
                    {{ $baseurl := .Site.BaseURL }}
                    {{ range $name, $value := .Site.Taxonomies.tags }}
                    {{ if ne ("") ($name) }}
                    <u>
                    <a href="{{ $baseurl }}/tags/{{ $name | urlize }}" style="font-size: {{ add 8 (mul 3 $value.Count) }}px;">
                    <!-- a href="{{ $baseurl }}/tags/{{ $name | urlize }}" class="list-group-item"-->
                        <span class="badge">{{ .Count }}</span>
                        {{ $name }}
                    </a>
                    </u> &nbsp; 
                    {{ end }}
                    {{ end }}
            </div>

            <br>
            <div class="panel-heading">
                <h2 class="panel-title">GitHub Contributions</h2>
                <a href="https://github.com/h-sao"><p  style="position:relative;
                    width: 300px;
                    height: 110px;
                    overflow: hidden;">
                    <img src="https://ghchart.rshah.org/h-sao" style="position:relative; left: -400px;">
                </p></a>
            </div>

            <br>
            <div class="panel-heading">
                <h2 class="panel-title">Previous Blog Post</h2>
            </div>
            <div class="list-group">
                <a href="http://blog.livedoor.jp/haruka_sao/" target="_blank">http://blog.livedoor.jp/haruka_sao/</a>
            </div>

            <div class="panel-heading">
                <h2 class="panel-title">Ad</h2>
            </div>
            <div class="list-group">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- h-sao.com_250*250 -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:250px;height:250px"
                     data-ad-client="ca-pub-0140944846615477"
                     data-ad-slot="2701889346"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>

        </div>
  <br><br>
</aside>

