<aside class="posted-list">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Recent Posts</h2>
            </div>
            <div class="list-group">
                {{range first 10 .Site.Pages}}
                    {{ if ne ("About me") (.Title) }}
                        <a href="{{.RelPermalink}}" class="list-group-item">{{ .Title }}</a><br>
                    {{ end }}
                {{ end }}
            </div>

            <div class="panel-heading">
                <h2 class="panel-title">Tags</h2>
            </div>
            <div class="list-group">
                    {{ $baseurl := .Site.BaseURL }}
                    {{ range $name, $value := .Site.Taxonomies.tags }}
                    {{ if ne ("") ($name) }}
                    <u>
                    <a href="{{ $baseurl }}/tags/{{ $name | urlize }}" style="font-size: {{ add 8 (mul 3 $value.Count) }}px;">
                    <!-- a href="{{ $baseurl }}/tags/{{ $name | urlize }}" class="list-group-item"-->
                        <span class="badge">{{ .Count }}</span>
                        {{ $name }}
                    </a>
                    </u> &nbsp; 
                    {{ end }}
                    {{ end }}
            </div>

            <br>
            <div class="panel-heading">
                <h2 class="panel-title">Previous Blog Post</h2>
            </div>
            <div class="list-group">
                <a href="http://blog.livedoor.jp/haruka_sao/" target="_blank">http://blog.livedoor.jp/haruka_sao/</a>
            </div>

            <br>
            <div class="panel-heading">
                <h2 class="panel-title">GitHub Contributions</h2>
                <center>
                    <img src="https://grass-graph.moshimo.works/images/h-sao.png?background=none&width=360">
                </center>
            </div>
        </div>
  <br><br>
</aside>

